/* Text Color */
.bu-color,
.bu-services-img:hover .text-holder .link,
.bu-porfolio-classic:hover .text-holder .link, 
.bu-services-classic .img-holder figure figcaption h4 a, 
.bu-testimonials-v1 .text-holder .author-info:before, 
.bu-counter .text-holder strong, 
.bu-counter .text-holder b, 
footer#footer a:hover, 
footer#footer .bu-footer-nav .footer-nav ul li a:hover, 
.pricetable-holder.center .bu-price span.title, 
.bu-services-left .img-holder figure span,
.bu-services-right .img-holder figure span,
.bu-services-center .img-holder figure span, 
.bu-career-list:hover:before, 
.blog-post .img-holder figcaption .post-options li:hover a, 
.blog-post .text-holder .post-options li a:hover, 
.blog-post .text-holder .post-options li a:hover span,
.blog-classic .blog-post .text-holder .post-date li a:hover,
.blog-classic .blog-post .text-holder .post-date li span,
.blog-classic .blog-post .text-holder h4 a:hover,
.blog-classic .blog-post .text-holder .post-date li a:hover, 
.blog-classic .blog-post .img-holder:hover figure:after, 
.blog-grid .blog-post .text-holder .post-date li a:hover,
.blog-grid .blog-post .text-holder .post-date li span,
.blog-grid .blog-post .text-holder h4 a:hover, 
.blog-grid .blog-post .img-holder figcaption .post-date li a, 
.bu-blog-post .blog-info .text-holder .post-options li a:hover,
.bu-blog-post .blog-info .text-holder .post-title:hover h2 a, 
.single-post .bu-social-media li a:hover, 
.bu-blog-detail-text blockquote:after, 
footer#footer .bu-social-media ul li a:hover span, 
.bu-portfolio-grid:hover .text-holder h4 a, 
.bu-portfolio-grid .img-holder figure:after,
.top-bar .bu-social-media ul li a:hover span,
.sub-header .breadcrumbs ul li, .sub-header ul.breadcrumbs li,
.services-why-us .img-holder .years-time span,
.services-why-us .img-holder  .setisfation-text b,
.services-why-us .text-holder ul li:before,
.bu-widget-links li:hover:before,
.widget-search label:after,
.widget-recent-posts .bu-view-blog,
.widget-recent-posts .bu-text a:hover,
.widget-tags a:hover,
.widget-categories ul li a:hover, 
.bu-latest-news .text-holder .bu-sponser,
.featured-listing ul li .bu-text h6 a:hover,
.button-swipe-bdr,
.team-view .img-holder figure figcaption .social-options li:hover a span,
.service-links ul li a:hover,
.liststyle .bu-iconlist li span,
.video-box .video-play-btn:hover a,
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label,
.bu-portfolio-list-style p a:hover,
.bu-next-previous-post .main-menu .main-menu-btn:hover span,
.blog-post:hover .text-holder .read-more,
.blog-classic .blog-post:hover .text-holder .read-more,
.blog-classic .blog-post .text-holder h4:hover  .post-date li span,
 blockquote.fancy .author-name:before,
.single-post .bu-tags:hover label span, 
.single-post .bu-social-media:hover label span,
.bu-footer-widgets .widget-text ul li span,
.nav-top-section .text-holder:hover,
.search-click span,
.team-view:hover .img-holder figure figcaption h6 a,
.bu-services-box .img-holder figure span,
.tabs-left .service-links ul li:hover a:after,
.tabs-left .service-links ul li.active a:after,
.tabs-left .service-links ul li.active a,
.pricetable-holder.center ul li:before,
.filter-btn,
.contact-form-text,
.top-bar ul.top-nav li p span,
.bu-testimonials-v1 .text-holder .author-info h6,
.animated-border-btm,
.bu-porfolio-classic .text-holder span.category,
.frame-caption span,
.bu-counter-s2 .ti-plus
{color: #e7412a !important;}
/* Background Color */
.bu-bgcolor, 
.bu-column-text .bu-button-simple, 
.pricetable-holder.center.active:before, 
.pagination > .active > a, 
.comment-form .field-holder .submit-btn,
.main-navigation ul li:hover a:after,
.portfolio-slider .slick-prev:hover,
.portfolio-slider .slick-next:hover,
.bu-testimonial-slider .slick-dots li.slick-active button,
.service-download ul li:hover a span,
.bu-dropcap-one p:first-letter,
.bu-widget-links li:hover:after,
.section-heading:after,
.widget-categories ul li:hover:after,
.slicknav_nav .slicknav_row:hover,
.slicknav_nav a:hover,
.video-play-btn,
.bu-next-previous-post .bu-previous .btn-prev:hover span,
.bu-next-previous-post .bu-next .btn-next:hover span,
.subscribe-box #submit-sub,
.bu-latest-news .img-holder .bu-date,
.animated-border-btm:after,
.focus-input100::before,
.button-swipe:before, .button-swipe-bdr:before,
.video-play-btn:hover
{background: #e33d26  !important;}
/* Border Color */
.bu-border-color, 
.bu-porfolio-classic:hover .text-holder, 
.team-view:hover .img-holder figure figcaption, 
.bu-button-border, 
.bu-button-simple, 
.bu-career-list:hover, 
.single-post .bu-tags ul li a:hover, 
.widget-recent-posts .bu-view-blog,
.widget-tags a:hover,
.slicknav_menu .slicknav_icon-bar,
.bu-services-img h4 
{border-color: #e33d26 !important;}
/*Footer Background Color*/
#footer{background: #0a1016 !important;}
.bu-footer-widgets .widget-section-title h3 {text-transform: uppercase !important;}
.bu-copyright{background: #0c0c0c !important;}
/*Transition*/
.main-navigation ul ul,
#header .main-navigation ul li.menu-item-has-children a:after,
#header .main-navigation ul ul li,
.main-navigation ul li:hover a:after,
.team-view .img-holder figure figcaption, 
.team-view .img-holder figure figcaption span, 
.team-view .img-holder figure figcaption h6, 
.bu-services-classic .img-holder figure figcaption, 
.bu-services-classic:hover .img-holder figure figcaption, 
.bu-porfolio-classic, 
.bu-latest-news, 
.bu-career-list, 
.bu-career-list:before, 
.blog-classic .blog-post .img-holder figure:after, 
.comment-form .field-holder .submit-btn, 
.bu-portfolio-grid:hover .img-holder figure:after, 
.bu-portfolio-grid .img-holder figure:after, 
.bu-next-previous-post .main-menu .main-menu-btn i,
.main-navigation ul li:hover a:after,
.main-navigation ul li:hover,
.main-navigation ul li,
.service-links ul li a,
.service-links ul li a:hover,
.service-featured ul li a:hover img,
.service-featured ul li a ,
.service-download ul li:hover a span,
.service-download ul li a span,
.service-links ul li:hover,
.service-links ul li,
.service-links ul li a:hover,
.bu-portfolio-list-style ul li p,
.tabs-left .service-links ul li a:after,
.bu-portfolio-list-style ul li,
.bu-portfolio-list-style ul li:hover,
.bu-next-previous-post .bu-previous .btn-prev span,
.bu-next-previous-post .bu-next .btn-next span,
.bu-next-previous-post .main-menu .main-menu-btn span,
.blog-classic .blog-post,
.grid-classic .blog-post,
.blog-grid .blog-post:hover .img-holder figure img,
.blog-grid .blog-post .img-holder figure:before,
.blog-grid .blog-post .img-holder figure,
.blog-grid .blog-post .img-holder,
.contact-info ul li,
.contact-info ul li .contact-label span,
textarea:focus, input:focus,
textarea, input,
.wrap-contact100,
.bu-services-box .img-holder figure span,
.bu-services-left .img-holder figure span,
.bu-services-right .img-holder figure span,
.bu-services-center .img-holder figure span,
.bu-services-classic .img-holder figure img,
.bu-services-classic:hover,
.bu-services-center:hover,
.bu-services-box,
.bu-services-left,
.bu-services-right,
.bu-services-center,
.bu-services-classic,
.bu-services-img:hover,
.bu-services-img, 
.bu-services-img:hover h4,
.bu-services-img .img-holder figure img,
.bu-services-img:hover .img-holder figure:before,
.bu-services-img .img-holder figure:before,
.bu-services-img:hover .img-holder figure:before, 
.bu-porfolio-classic .img-holder:hover figure:before,
figure.blog-news p a,
figure.blog-news:hover p a,
footer#footer a:hover,
footer#footer .bu-social-media ul li a:hover span,
.top-bar .bu-social-media ul li a:hover span
{-webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
/* General Border-Radius */
#header .main-header,
#header .main-header,
.request-qoute,
.main-header .main-nav .slicknav_nav a,
.messagebox,
.messagebox-v2 .buy-now-btn, 
.video-box,
.bu-services-img,
.bu-services-img .img-holder figure img,
.bu-porfolio-classic .img-holder figure,
.bu-career-list,
.filter-btn,
.comment-form .field-holder textarea,
.comment-form .field-holder input[type='text'],
.bu-career-list,
.contact-label .bu-social-media ul li a [class^="ti-"],
.bu-contact-form .bu-btn-submit input[type="submit"],
.bu-contact-form .input-holder textarea,
.bu-contact-form .input-holder input,
.team-view .img-holder figure,
.services-why-us .img-holder figure figcaption,
.bu-porfolio-classic .text-holder span.category,
.bu-services-center,
.bu-services-right,
.bu-services-left,
.bu-services-box,
.bu-services-classic .img-holder figure img,
.bu-services-classic,
.bu-button-simple,.bu-button-border,
.bu-portfolio-detail .img-holder figure,
.filter-btn,
.pricetable-holder,
.single-post .bu-tags ul li a,
.post-title h3 span,
.plans-compare-btn a,
.pricetable-holder.center,
.pricetable-holder.center.active,
.comment-form .field-holder .submit-btn
{ border-radius:4px; -moz-border-radius:4px;	-webkit-border-radius:4px;}
/* General Border-Radius End*/
/* General Box Shaddow*/
.wrap-contact100,
.blog-classic .blog-post,
.blog-grid .blog-post,
.filter-btn,
.pricetable-holder,
.pricetable-holder.center.active,
.box-frame figure img,
.bu-services-img,
{ box-shadow:0 2px 3px rgba(0, 0, 0, 0.1);  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);  -webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.1);  -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);  -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.wrap-contact100:hover,
.filter-btn:hover,
.blog-grid .blog-post:hover,
.blog-classic .blog-post:hover,
.blog-large .blog-post:hover,
.team-view:hover,
.box-frame figure img:hover,
.bu-services-img:hover,
.bu-services-classic:hover,
.bu-services-box:hover,
.bu-services-left:hover,
.bu-services-right:hover,
.bu-services-center:hover
{ box-shadow:0 3px 8px rgba(0, 0, 0, 0.2);  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);  -o-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);  -ms-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);   -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out}
/* General Box Shaddow*/

/* Overlay Color*/
.section-bg-6b{    background: -moz-linear-gradient(135deg, rgba(54,83,108,0.6) 0, rgba(231,65,42,0.6) 60%) ;    background: -webkit-linear-gradient(135deg, rgba(54,83,108,0.6) 0, rgba(231,65,42,0.6) 60%);    background: linear-gradient(135deg, rgba(54,83,108,0.6) 0, rgba(231,65,42,0.6) 60%);}

.bu-services-img:hover .img-holder figure:before, .bu-porfolio-classic .img-holder:hover figure:before {content: ''; height: 100%; width: 100%; position: absolute; 
    background: -moz-linear-gradient(135deg, rgba(54,83,108,0.6) 0, rgba(231,65,42,0.6) 60%) ;
    background: -webkit-linear-gradient(135deg, rgba(54,83,108,0.6) 0, rgba(231,65,42,0.6) 60%);
    background: linear-gradient(135deg, rgba(54,83,108,0.6) 0, rgba(231,65,42,0.6) 60%);
    pointer-events: none; }